/*  your css code here. If applicable */
:root{background-color:rgb(135, 206, 235);
}
div.selector p:first-child{
	background-color:black;
	color:white;
		}
div.selector p:nth-child(2){
	color:black;
	}
div.selector p:last-child{
	color:red;
	}
li{width:50%;
   padding:10px;
	background-color:gray;
}
.first{
	background-color:white;
}
#front{
	font-size:22px;
}
#last{
	font-size:22px;
}
#third{
	background-color:pink;
}
.custom-list li {
    background-color: gray;
    padding: 10px;
}

.custom-list li:nth-child(odd) {
    background-color: white;
}

.custom-list li:first-child,
.custom-list li:last-child {
    font-size: 22px;
}

.custom-list li:nth-child(3) {
    background-color: pink;
}
